<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">>
<head>
    <title>ADD FILM</title>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

</head>

<body>

<div class="container">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Rate Your Film</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a th:href="@{/series/list}">Home</a></li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Page 1-1</a></li>
                        <li><a href="#">Page 1-2</a></li>
                        <li><a href="#">Page 1-3</a></li>
                    </ul>
                </li>
                <li> <a th:href="@{/films/list}">Films</a></li>
                <li> <a th:href="@{/series/list}">Series</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a><span class="glyphicon glyphicon-user"></span><span sec:authentication="name"></span></a></li>
                <li><a href="/showMyLoginPage" th:action="@{/logout}" method = "POST"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
        </div>
    </nav>
    <p class="h4 mb-4">Update Serie</p>

    <form action="#" th:action="@{/series/save}"
                     th:object="${serie}" method="post">
        <input type="hidden" th:field="*{id}">

        <input type="text" th:field="*{title}"
               class="form-control mb-4 col-4" placeholder="Title">
        <input type="text" th:field="*{release_year}"
               class="form-control mb-4 col-4" placeholder="Release year">

        <button type="submit" class="btn btn-info col-2">Update</button>

    </form>
    <hr>
    <a th:href="@{/series/list}">Back to list</a>
</div>
</body>

</html>